<?php include('include/head.php') ?>
<?php include('include/header.php') ?>


<section class="mt-6 pb-4" style="">
	<div class="container">
		<div class="row">
			<span class="mx-3"><i class="fa fa-phone mr-2 t-musturd"></i> +91 1234567890</span>
			<span class="mx-3"><i class="fa fa-envelope-o mr-2 t-musturd"></i>info@lawfirm.com</span>
			<div class="social d-none d-sm-block ml-auto">
            	<ul class="list-inline">
                	<li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>

		</div>
	</div>
</section>

<section class="container-fluid w-100 news-head-img py-5" style="background-image: url('https://livedemo00.template-help.com/wt_61317/images/bg-image-1.jpg');">
 <!-- https://static.wixstatic.com/media/c62330_ba37cb603d12473282fae257d7c448b4.jpg/v1/fill/w_360,h_241,al_c,q_80,usm_0.66_1.00_0.01/c62330_ba37cb603d12473282fae257d7c448b4.webp 
 https://livedemo00.template-help.com/wt_61317/images/bg-image-1.jpg-->
	<div class="container news-head" >
		<div class="row py-5">
			<h1 class="t-white " >Mauris et pulvinar tincidunt</h1>
		</div>	
	</div>
	
</section>

<section class="py-5">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-8 ml-auto mr-auto">
				<!-- <div class="row">
					<img class="w-100" src="https://livedemo00.template-help.com/wt_61317/images/post-1-870x412.jpg">		
				</div> -->
				<div class="row pt-4">
					<div class="col">
						
						<p class="h6">Date: <span style="color:#9f9f9f">May 7, 2015, </span></p>
						<p class="h6">By: <span style="color:#9f9f9f">Najma Shaikh, LawLeo.com </span></p>	
						<hr>
						<p class="blog-detail mb-5">Nam quis magna in dui fringilla sodales et at ante. Nulla condimentum sed magna ut Maecenas lacus ante, mattis sed euismod sed, iaculis sed libInteger tortor tellus, varius ac maximus at, vehicula nec purus. Ut at posuere sapien, ut molestie nisi. Donec mauris justo,</p>
						<h3 class="blog-detail-head">Mauris et pulvinar tincidunt</h3>
						<em class="blog-detail-quote ">We have a very clear picture of the venture. We don’t need a written contract.</em>
						<p class="blog-detail mt-4 mb-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus hendrerit at eros et volutpaAenean congue risus sit amet magna fringilla, pellentesque ligula condimentum. Nullam porttitor et erat at blandit. Suspendisse a iaculis nibh, sit amet sagittis ligula. Sed auctor lacinia sagittis. Nam sit amet nunc dolor. Suspendisse cursus odio viverra dolor convallis volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>						
					</div>					
				</div>
				<div class="row pt-5">					
					<div class="col">
						<hr>
						<div class="social">
	                    	<ul class="list-inline">
	                        	<li><a href="#"><i class="fa fa-facebook"></i></a></li>
	                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
	                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
	                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
	                        </ul>
	                    </div>
					</div>	
				</div>
				
			</div>
			
		</div>
	</div>
</section>

<?php include('include/footer.php') ?>
<?php include('include/foot.php') ?>